#edge-preview {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-gap: 5px;
    grid-template-rows: 1fr 3fr;
    height: 200px;
    width: 200px;
}

#edge-letter-label {
    position: absolute;
    color: black;
    font-size: 5em;
}

#edge-second-sticker {
    outline: 5px solid black;
    background-color: green;
}

#edge-target-sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid black;
    background-color: yellow;
}
