#center-memo-text {
    margin: 0px;
}
    
#center-memo-sub-text {
    margin: 0px;  
    margin-bottom: 20px;
}

#center-memo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
